.icon-size {
    font-size: 60px;
}


table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px; /* Thêm padding để cải thiện độ dễ đọc */
  }
  
  th {
    background-color: #f2f2f2; /* Màu nền cho đầu cột */
  }
  
  td:first-child,
  th:first-child {
    border-left: none; /* Loại bỏ đường kẻ bên trái của cột đầu tiên */
  }
  